<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<div class="container">
  <a routerLink="addevent" class="btn btn-info mt-5 mb-5"> Add Event</a>
  <full-calendar [options]="calendarOptions">
  </full-calendar>
</div>
<pre>
<span id="loading"></span>
  {{eventdata|json}}

</pre>
