<a routerLink='../' class="btn btn-success mt-5 mb-5">home</a>
<!DOCTYPE html>
<html lang="en">

<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>
  <div class="container">
    <h2>Event form</h2>
    <h4 class="text-success">{{message}}</h4>
    <form #eventform="ngForm" (ngSubmit)="onSubmit(eventform.value)">
      <div class="form-group">
        <label for="title">title:</label>
        <input type="title" ngModel class="form-control" id="title" placeholder="Enter title" name="title">
      </div>
      <div class="form-group">
        <label for="event">Event Start Date:</label>
        <input type="date" ngModel class="form-control" id="event" name="date" #date="ngModel" value="{{date.value}}">
      </div>
      <div class="form-group">
        <label for="event">Event End Date:</label>
        <input type="date" ngModel class="form-control" id="event" name="enddate" #enddate="ngModel"
          value="{{enddate.value}}">
      </div>
      <div class="form-group">
        <label for="description">description:</label>
        <textarea name="" id="" cols="30" rows="10" ngModel class="form-control" name="description"></textarea>
      </div>
      <button class="btn btn-primary">Submit</button>
    </form>
  </div>

</body>

</html>
