<a routerLink="login" class="btn btn-success">Login</a>

<button (click)="logout()">logout</button>

<router-outlet></router-outlet>


<br>
<br>
<br>
<br>
<br>
<!-- 
<owl-carousel-o [options]="customOptions">
  <ng-template carouselSlide><img src="../assets/images/1of1.png" alt=""></ng-template>
  <ng-template carouselSlide><img src="../assets/images/1630301355.jpg" alt=""></ng-template>
  <ng-template carouselSlide><img src="../assets/images/1of1.png" alt=""></ng-template>
  <ng-template carouselSlide><img src="../assets/images/1630301355.jpg" alt=""></ng-template>
  <ng-template carouselSlide><img src="../assets/images/1of1.png" alt=""></ng-template>
  <ng-template carouselSlide><img src="../assets/images/1630301355.jpg" alt=""></ng-template>
</owl-carousel-o> -->