<button routerLink="..">home</button>

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>

    <div class="container">
        <div class="alert alert-success" *ngIf="userdata" role="alert">
            <pre>

                {{userdata|json}}
            </pre>
        </div>
        <h3 class="alert-danger">{{error}}</h3>
        <h2>form</h2>
        <form #loginform="ngForm" (ngSubmit)="onsubmit(loginform)">
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" class="form-control" id="email" placeholder="Enter email" ngModel name="email">
            </div>
            <div class="form-group">
                <label for="pwd">Password:</label>
                <input type="password" class="form-control" id="password" placeholder="Enter password" ngModel
                    name="password">
            </div>
            <button type="submit" class="btn btn-primary">{{isloginMode?'login' :'register'}}</button>
            <a class="btn btn-warning" (click)="onswitchMode()"> Change Mode</a>
        </form>
    </div>

</body>

</html>